@page "/employees"
@inject IEmployeeService EmployeeService
@inject NavigationManager NavigationManager

<PageTitle>Employees</PageTitle>

<h3>Employees</h3>

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in EmployeeService.Employees)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Position.Name</td>
                <td>
                <button class="btn btn-primary" @onclick="(() => ShowEmployee(employee.Id))"> <i class="oi oi-pencil"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await EmployeeService.GetEmployees();
    }

    void ShowEmployee(int id)
    {
        NavigationManager.NavigateTo("employee/"+id);
    }
}
